body { 
    background-color: #fef1e6;
}

hr {
    border-style: dotted none none;
    border-color: #f8ddba;
    border-width: 6px;
    width: 10%;
      }
h1 {
    color: #90aacb;
}
h3 {
    
    color: #e99b51;
}